<div id="<%= dom_id job_detail %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Job listing:</strong>
    <%= job_detail.job_listing&.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= job_detail.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Scraped url:</strong>
    <%= job_detail.scraped_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= job_detail.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Response data:</strong>
    <%#= job_detail.response_data %>
    <% job_detail.response_data.each do |key, value| %>
    <div class="mb-4">
      <h2 class="text-lg font-semibold mb-2 font-bold"><%= key.titleize %> : </h2>
      <p><%= value&.html_safe %></p>
    </div>
  <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this job detail", admin_job_detail_path(job_detail), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this job detail', edit_admin_job_detail_path(job_detail), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Scrape', scrape_jobs_admin_job_detail_path(job_detail), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
