<%if @jobs.present? %>
  <% @jobs.each do |job| %>
    <!-- Item -->
    <% @response_data = job.response_data %>
    <% if @response_data.present? %>
      <div class="[&:nth-child(-n+12)]:-order-1 border-b border-gray-200 group">
        <div class="px-4 py-6 bg-indigo-100 rounded-xl">
          <div class="sm:flex items-center space-y-3 sm:space-y-0 sm:space-x-5">
            <div class="shrink-0 h-24 items-center justify-center flex w-24 rounded-full">
              <%= image_tag @response_data["logo"].present? &&  logo_present?(@response_data["logo"]) ? @response_data["logo"] : 'default-company.png', alt: "Company 02", class: 'w-14 h-14 shadow-lg' %>
            </div>
            <div class="grow lg:flex items-center justify-between space-y-5 lg:space-x-2 lg:space-y-0">
              <div>
                <div class="flex items-start space-x-2">
                  <div class="text-sm text-gray-800 font-semibold mb-1"><%= job.board.title %></div>
                </div>
                <div class="mb-2">
                  <a class="text-lg text-gray-800 font-bold" href="#"><%= job.title %></a>
                </div>
                <div class="-m-1" data-controller="jobs">
                  <% if @response_data["job_type"].present? %>
                    <%= link_to @response_data["job_type"], jobs_path(job_type: @response_data["job_type"]), class: "text-xs text-gray-500 font-small inline-flex px-2 py-0.5 bg-gray-100 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out", data: { remote: true, action: "click->jobs#selectCheckBox" } %>
                  <% end %>
                  <% if @response_data["location"].present? %>
                    <a class="text-xs text-gray-500 font-normal inline-flex px-2 py-0.5 bg-indigo-50 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out" href="javascript:void(0)"><%= @response_data["location"].gsub(/location\s*:?/i, ' ') %></a>
                  <% end %>
                  <% if @response_data["salary_range"].present? && @response_data["salary_range"].include?("$") %>
                    <a class="text-xs text-gray-500 font-medium inline-flex px-2 py-0.5 bg-indigo-50 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out" href="javascript:void(0)"><%= get_salary_range(@response_data["salary_range"]) %></a>
                  <% end %>
                  <% if @response_data["shift_type"].present? %>
                    <%= link_to @response_data["shift_type"], jobs_path(shift_type: @response_data["shift_type"]), class: "text-xs text-gray-500 font-small inline-flex px-2 py-0.5 bg-gray-100 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out", data: { remote: true, action: "click->jobs#selectCheckBox" } %>
                  <% end %>
                  <% if @response_data["speciality"].present? %>
                    <%= link_to @response_data["speciality"], jobs_path(speciality: @response_data["speciality"]), class: "text-xs text-gray-500 font-small inline-flex px-2 py-0.5 bg-gray-100 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out", data: { remote: true, action: "click->jobs#selectCheckBox" } %>
                  <% end %>
                  <% if @response_data["hourly_rate"].present? %>
                    <a class="text-xs text-gray-500 font-medium inline-flex px-2 py-0.5 bg-gray-100 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out" href="javascript:void(0)"><%= @response_data["hourly_rate"] %></a>
                  <% end %>
                </div>
              </div>
              <div class="min-w-[120px] flex items-center lg:justify-end space-x-3 lg:space-x-0">
                <div class="lg:hidden group-hover:lg:block">
                  <a class="btn-sm py-1.5 px-3 text-white bg-indigo-500 hover:bg-indigo-600 group shadow-sm" target="_blank" href="<%= job_path(job) %>">
                    Apply Now
                    <span class="tracking-normal text-indigo-200 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
                  </a>
                </div>
                <div class="group-hover:lg:hidden text-sm italic text-gray-500"><%= formatted_time_ago(job.created_at) %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="pagination">
    <div class="py-6">
      <%= will_paginate @jobs, previous_label: "<", next_label: ">", class: "flex items-center justify-center space-x-2" %>
    </div>
  </div>
<% else %>
  <div class="flex flex-col ctkqc cjx7n">
    <div class="ca6yp cb7bz">
      <em class = 'text-gray-600 text-sm mb-3'>
        <p> No Job Found Against Your Search</p>
        <script>
          document.addEventListener('turbo:load', function(event) {
            toastr.info("Readjust the Search Criteria or Clear the Filters and Try Agian")
          });
        </script>
      </em>
    </div>
  </div>
<% end %>
