<aside class="mb-8 md:mb-0 md:w-64 lg:w-72 md:ml-12 lg:ml-20 md:shrink-0 md:order-1">
  <div class="sticky top-8" data-controller="jobs">
    <div class="relative bg-gray-50 rounded-xl border border-gray-200 px-5 pt-10 pb-5">
      <div class="absolute top-2 right-5 leading-none">
        <button class="text-sm font-medium text-indigo-500 hover:underline" data-action="click->jobs#clearForm">Clear</button>
      </div>
      <%= form_with(url: jobs_path, method: "get", class: "transition-all h-[445px] overflow-hidden relative", id: "job_filter", data: {turbo_frame: "jobs", action: "input change->jobs#submitForm", remote: true} ) do |form| %>
        <div class="grid grid-cols-2 md:grid-cols-1 gap-6">
          <div class = 'relative flex justify-end items-center'>
            <%= text_field_tag :query, params[:query], class: "block text-sm font-medium mb-1 border w-full rounded-xl border-gray-200 pr-2 pl-2", autocomplete: 'off', placeholder: "Search by Title..." do %>
              <svg class="absolute mr-3 w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
            <% end %>
          </div>
          <!-- Group 1 -->
          <div>
            <div class="text-sm text-gray-800 font-semibold mb-3">Job Type</div>
            <ul class="space-y-2">
              <% @filtered_job_types.map do |job_type, job_count| %>
                <li>
                  <label class="flex items-center">
                    <%= check_box_tag "job_type[]", job_type, false, class: "form-checkbox" %>
                    <span class="text-sm text-gray-600 ml-2"><%= "#{job_type} (#{job_count})" %></span>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
          <!-- Group 2 -->
          <div>
            <div class="text-sm text-gray-800 font-semibold mb-3">Job Speciality</div>
            <ul class="space-y-2">
              <% @filter_job_specialities.each do |speciality, speciality_count| %>
                <li>
                  <label class="flex items-center">
                    <%= check_box_tag "speciality[]", speciality, false, class: "form-checkbox" %>
                    <span class="text-sm text-gray-600 ml-2"><%= "#{speciality} (#{speciality_count})" %></span>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
          <!-- Group 3 -->
          <div>
            <div class="text-sm text-gray-800 font-semibold mb-3">Shift Type</div>
            <ul class="space-y-2">
              <% @shift_types.map do |shift_type, shift_count| %>
                <li>
                  <label class="flex items-center">
                    <%= check_box_tag "shift_type[]", shift_type, false, class: "form-checkbox" %>
                    <span class="text-sm text-gray-600 ml-2"><%= "#{shift_type} (#{shift_count})"  %></span>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <a href='#' class='absolute bottom-0 right-0 text-sm font-medium text-indigo-500 hover:underline'>Show More</a>
        <input type="submit", class="hidden" id="submitform" />
      <% end %>
    </div>
  </div>
</aside>
