<div class="container mt-4 mx-auto w-11/12 md:w-9/12">
  <div class="mx-auto">
    <div id="<%= dom_id @job %>">
      <% @response_data = @job.response_data %>
      <div class=' pt-5 pb-4 px-4 flex flex-col items-start'>
        <h3 class='font-bold text-2xl mb-3'><%= @job.title %></h3>
<!--        <a class='decoration-blue-600 mb-3 text-blue-600 text-xs border-b border-blue-600' href="#">Voyager Global-->
<!--          Mobility</a>-->
        <span class='text-sm text-slate-500 mb-2'><%=  @response_data["location"].gsub(/location\s*:?/i, ' ') if @response_data["location"] %></span>
        <div class="text-sm">
          <% if @response_data["salary_range"].present? %>
          <span><%= @response_data["salary_range"] %></span>
            <% end %>
        </div>
        <div class="mt-4">
          <a href="<%= @job.scraped_url %>" target="_blank"><button class=' bg-sky-700 rounded py-2.5 px-2.5 text-white font-semibold'>Apply Now</button></a>
<!--          <button class="bg-slate-400 py-2 px-3 rounded">-->
<!--            <i class="fa fa-bookmark-o text-white !text-lg" aria-hidden="true"></i></button>-->
        </div>
      </div>
      <div class = 'p-4'>
        <p class = 'text-lg' ><b>Job details</b></p>
        <div>
<!--          <span class = 'block text-xs text-slate-500 italic' >Here’s how the job details align with your job preferences.</span>-->
<!--          <span class = 'block text-xs text-slate-500 italic' >Manage job preferences anytime in your-->
<!--            <a href = '#' class = 'text-xs text-slate-500' >profile</a>-->
<!--          </span>-->
        </div>
        <div class = 'mt-4 mb-6'>
          <div class='flex items-center space-x-4 '>
            <span><i class="fa fa-money text-stone-400" aria-hidden="true"></i></span>
            <span class = 'text-sm font-semibold ml-2 block' >Pay</span>
          </div>
          <% if @response_data["salary_range"].present? %>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'> <%= @response_data["salary_range"] %></p>
          <% end %>
          <% if @response_data["job_type"].present? %>
            <div class='flex items-center space-x-4 mt-4'>
              <span><i class="fa fa-briefcase text-stone-400" aria-hidden="true"></i></span>
              <span class='text-sm font-semibold ml-2 block'>Job Type</span>
            </div>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'><%= @response_data["job_type"] %></p>
          <% end %>

          <% if @response_data["shift_type"].present? %>
            <div class='flex items-center space-x-4 mt-4'>
              <span><i class="fa fa-briefcase text-stone-400" aria-hidden="true"></i></span>
              <span class='text-sm font-semibold ml-2 block'>Shift Type</span>
            </div>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'><%= @response_data["shift_type"] %></p>
          <% end %>

          <% if @response_data["speciality"].present? %>
            <div class='flex items-center space-x-4 mt-4'>
              <span><i class="fa fa-briefcase text-stone-400" aria-hidden="true"></i></span>
              <span class='text-sm font-semibold ml-2 block'>Speciality</span>
            </div>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'><%= @response_data["speciality"] %></p>
          <% end %>
        </div>
        <div class="border border-gray-100 h-px w-full"></div>
        <div class='overflow-hidden'>
          <div class='mt-4 mb-4'>
            <%= @response_data["job_description_details"]&.html_safe %>
<!--            <p class = 'text-sm text-[#2d2d2d] ' >We're looking for Sales Reps who are fluent in English, looking to excel in their careers, earn commission and progress. Enthusiasm and willingness to learn and do well is key.</p>-->
<!--            <ul class = 'list-disc pl-8 text-sm text-[#2d2d2d] mt-3 mb-4 ' >-->
<!--              <li >In this role, you will receive Pre-Set appointments/leads and you need to educate American Clients about the benefits of Solar Energy Solutions, make more sales, and be a part of a rapidly growing company.</li>-->
<!--              <li>You will find an equal opportunity for growth and earn the most rewarding commissions.</li>-->
<!--            </ul>-->
<!--            <p class = 'text-lg font-semibold' >Job Requirements</p>-->
<!--            <ul class = 'list-disc pl-8  text-sm text-[#2d2d2d] mt-3 mb-4'>-->
<!--              <li>Grow and develop the sales through effective and consistent outbound activity including phone and email.</li>-->
<!--              <li>Achieving and exceeding targets set by the company</li>-->
<!--              <li>Call companies generate leads prodiminantly in the UK</li>-->
<!--              <li>Development a strong outbound pipeline of clients.</li>-->
<!--              <li>Minatain reports for clients.</li>-->
<!--              <li>Work effectively with internal and external departments to promote sales</li>-->
<!--              <li>Identifying and reporting on business opportunities in target markets</li>-->
<!--              <li>Respond to all allocated requests (live chat, phone or email) for quotes within agreed SLAs.</li>-->
<!--              <li>Provider cover for team members during periods of absence and/or busy periods.</li>-->
<!--            </ul>-->
<!--            <p class = 'text-lg font-semibold' >Salary & Benefits</p>-->
<!--            <ul class = 'list-disc pl-8  text-sm text-[#2d2d2d] mt-3 mb-4'>-->
<!--              <li><b>Salary</b>: 50k + OTE 150k</li>-->
<!--              <li>Additional length of service holiday allowance</li>-->
<!--            </ul>-->
<!--            <p class = 'text-sm text-[#2d2d2d] '>12pm to 9pm</p>-->
<!--            <p class = 'text-sm text-[#2d2d2d] '>Job Type: Full-time</p>-->
<!--            <p class = 'text-sm text-[#2d2d2d] '>Salary: Rs50,000.00 - Rs80,000.00 per month</p>-->
<!--            <p class = 'text-sm text-[#2d2d2d] '>Ability to commute/relocate:</p>-->
<!--            <ul class = 'list-disc pl-8  text-sm text-[#2d2d2d] mt-3 mb-4'>-->
<!--              <li>Lahore: Reliably commute or planning to relocate before starting work (Preferred)</li>-->
<!--            </ul>-->
<!--            <p class = 'text-sm text-[#2d2d2d] '>Application Deadline: 01/07/2023</p>-->
<!--            <div>-->
<!--              <button class=' bg-stone-200 rounded p-3 mt-4 font-semibold'>-->
<!--                <span><i class="fa fa-flag text-black !text-lg" aria-hidden="true"></i></span>-->
<!--                Report job-->
<!--              </button>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
