<body class="font-inter antialiased bg-white text-gray-800 tracking-tight">
  <!-- Page wrapper -->
  <div class="flex flex-col min-h-screen overflow-hidden supports-[overflow:clip]:overflow-clip">

    <!-- Page content -->
    <main class="grow">
      <% @response_data = @job.response_data %>
      <!-- Page content -->
      <section>
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
          <div class="pt-28 pb-8 md:pt-36 md:pb-16">
            <div class="md:flex md:justify-between">
              <!-- Sidebar -->
              <aside class="mb-8 md:mb-0 md:w-64 lg:w-72 md:ml-12 lg:ml-20 md:shrink-0 md:order-1">
                <div class="sticky top-8">
                  <div class="relative bg-gray-50 rounded-xl border border-gray-200 p-5">
                    <div class="text-center mb-6">
                      <%= image_tag "company-icon-08.svg",class: "inline-flex mb-2 w-[72px] h-[72px] ",alt: "Company 08"  %>
                      <h2 class="text-lg font-bold text-gray-800"><%= @job.board.title %></h2>
                    </div>
                    <div class="flex justify-center md:justify-start mb-5">
                      <ul class="inline-flex flex-col space-y-2">
                        <li class="flex items-center">
                          <svg class="shrink-0 fill-gray-400 mr-3" width="14" height="14" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.707 4.293a1 1 0 0 0-1.414 1.414L10.586 8H2V2h3a1 1 0 1 0 0-2H2a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h8.586l-2.293 2.293a1 1 0 1 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4Z"/>
                          </svg>
                          <span class="text-sm text-gray-600"><%= @job.created_at.strftime("%d %B, %Y") %></span>
                        </li>
                        <% if @response_data["location"].present? %>
                          <li class="flex items-center">
                            <svg class="shrink-0 fill-gray-400 mr-3" width="14" height="16" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="7" cy="7" r="2"/>
                              <path d="M6.3 15.7c-.1-.1-4.2-3.7-4.2-3.8C.7 10.7 0 8.9 0 7c0-3.9 3.1-7 7-7s7 3.1 7 7c0 1.9-.7 3.7-2.1 5-.1.1-4.1 3.7-4.2 3.8-.4.3-1 .3-1.4-.1Zm-2.7-5 3.4 3 3.4-3c1-1 1.6-2.2 1.6-3.6 0-2.8-2.2-5-5-5S2 4.2 2 7c0 1.4.6 2.7 1.6 3.7 0-.1 0-.1 0 0Z"/>
                            </svg>
                            <span class="text-sm text-gray-600"><%= @response_data["location"].gsub(/location\s*:?/i, ' ') %></span>
                          </li>
                        <% end %>
                        <% if @response_data["salary_range"].present? && @response_data["salary_range"].include?("$") %>
                          <li class="flex items-center">
                            <svg class="shrink-0 fill-gray-400 mr-3" width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                              <path d="M15 0H1C.4 0 0 .4 0 1v10c0 .6.4 1 1 1h14c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1Zm-1 10H2V2h12v8Z"/>
                              <circle cx="8" cy="6" r="2"/>
                            </svg>
                            <span class="text-sm text-gray-600"><%= get_salary_range(@response_data["salary_range"]) %></span>
                          </li>
                        <% end %>
                        <% if @response_data["hourly_rate"].present? && @response_data["hourly_rate"].include?("$") %>
                          <li class="flex items-center">
                            <svg class="shrink-0 fill-gray-400 mr-3" width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                              <path d="M15 0H1C.4 0 0 .4 0 1v10c0 .6.4 1 1 1h14c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1Zm-1 10H2V2h12v8Z"/>
                              <circle cx="8" cy="6" r="2"/>
                            </svg>
                            <span class="text-sm text-gray-600"><%= get_salary_range(@response_data["hourly_rate"]) %></span>
                          </li>
                        <% end %>
                        <% if @response_data["speciality"].present? %>
                          <li class="flex items-center">
                            <svg class="shrink-0 fill-gray-400 mr-3" width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                              <path d="M15 0H1C.4 0 0 .4 0 1v10c0 .6.4 1 1 1h14c.6 0 1-.4 1-1V1c0-.6-.4-1-1-1Zm-1 10H2V2h12v8Z"/>
                              <circle cx="8" cy="6" r="2"/>
                            </svg>
                            <span class="text-sm text-gray-600"><%= @response_data["speciality"] %></span>
                          </li>
                        <% end %>
                      </ul>
                    </div>

                    <div class="max-w-xs mx-auto mb-5">
                      <% if @response_data["apply_now_url"] %>
                        <a class="btn w-full text-white bg-indigo-500 hover:bg-indigo-600 group shadow-sm" href="<%= @response_data["apply_now_url"] %>">
                          Apply Now
                          <span class="tracking-normal text-indigo-200 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
                        </a>
                      <% end %>
                    </div>
                    <div class="text-center">
                      <a class="text-sm text-indigo-500 font-medium hover:underline" target="_blank" href="<%= @job.scraped_url %>">Visit Website</a>
                    </div>
                  </div>
                </div>
              </aside>
              <!-- Main content -->
              <div class="md:grow">
                <!-- Job description -->
                <div class="pb-8">
                  <div class="mb-4">
                    <a class="text-indigo-500 font-medium" href="/"><span class="tracking-normal">&lt;-</span> All Jobs</a>
                  </div>
                  <h1 class="text-4xl font-extrabold font-inter mb-10"><%= @job.title %></h1>
                  <!-- Job description -->
                  <div class="space-y-6 mb-8">
                    <%= @response_data["description_raw_html"]&.html_safe  %>
                  </div>
                  <!-- Social share -->
                  <div class="flex items-center justify-end space-x-4">
                    <div class="text-xl font-nycd text-gray-400">Share job</div>
                    <ul class="inline-flex space-x-3">
                      <li>
                        <a class="flex justify-center items-center text-indigo-500 bg-indigo-100 hover:text-white hover:bg-indigo-500 rounded-full transition duration-150 ease-in-out" href="#0" aria-label="Twitter">
                          <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <path d="m13.063 9 3.495 4.475L20.601 9h2.454l-5.359 5.931L24 23h-4.938l-3.866-4.893L10.771 23H8.316l5.735-6.342L8 9h5.063Zm-.74 1.347h-1.457l8.875 11.232h1.36l-8.778-11.232Z" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a class="flex justify-center items-center text-indigo-500 bg-indigo-100 hover:text-white hover:bg-indigo-500 rounded-full transition duration-150 ease-in-out" href="#0" aria-label="Facebook">
                          <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.023 24 14 17h-3v-3h3v-2c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V14H21l-1 3h-2.72v7h-3.257Z" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a class="flex justify-center items-center text-indigo-500 bg-indigo-100 hover:text-white hover:bg-indigo-500 rounded-full transition duration-150 ease-in-out" href="#0" aria-label="Telegram">
                          <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.968 10.276a.338.338 0 0 0-.232-.253 1.192 1.192 0 0 0-.63.045s-14.019 5.038-14.82 5.596c-.172.121-.23.19-.259.272-.138.4.293.573.293.573l3.613 1.177a.388.388 0 0 0 .183-.011c.822-.519 8.27-5.222 8.7-5.38.068-.02.118 0 .1.049-.172.6-6.606 6.319-6.64 6.354a.138.138 0 0 0-.05.118l-.337 3.528s-.142 1.1.956 0a30.66 30.66 0 0 1 1.9-1.738c1.242.858 2.58 1.806 3.156 2.3a1 1 0 0 0 .732.283.825.825 0 0 0 .7-.622s2.561-10.275 2.646-11.658c.008-.135.021-.217.021-.317a1.177 1.177 0 0 0-.032-.316Z" />
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- Related jobs -->
                <div class="mb-8">
                  <h4 class="text-2xl font-bold font-inter mb-8">Related Jobs</h4>
                  <!-- List container -->
                  <div class="flex flex-col border-t border-gray-200">

                    <% @related_jobs.each do |job| %>
                      <!-- Item -->
                      <% @response_data = job.response_data %>
                      <% if @response_data.present? %>
                        <div class="[&:nth-child(-n+12)]:-order-1 border-b border-gray-200 group">
                          <div class="px-4 py-6 bg-indigo-100 rounded-xl">
                            <div class="sm:flex items-center space-y-3 sm:space-y-0 sm:space-x-5">
                              <div class="shrink-0">
                                <%= image_tag 'company-icon-02.svg', alt: "Company 02", class: 'w-14 h-14' %>
                              </div>
                              <div class="grow lg:flex items-center justify-between space-y-5 lg:space-x-2 lg:space-y-0">
                                <div>
                                  <div class="flex items-start space-x-2">
                                    <div class="text-sm text-gray-800 font-semibold mb-1"><%= job.board.title %></div>
                                  </div>
                                  <div class="mb-2">
                                    <a class="text-lg text-gray-800 font-bold" href="#"><%= job.title %></a>
                                  </div>
                                  <div class="-m-1">
                                    <% if @response_data["job_type"].present? %>
                                      <a class="text-xs text-gray-500 font-medium inline-flex px-2 py-0.5 bg-gray-100 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out" href="#0"><%= @response_data["job_type"] %></a>
                                    <% end %>
                                    <% if @response_data["location"].present? %>
                                      <a class="text-xs text-gray-500 font-medium inline-flex px-2 py-0.5 bg-indigo-50 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out" href="#"><%= @response_data["location"].gsub(/location\s*:?/i, ' ') %></a>
                                    <% end %>
                                    <% if @response_data["salary_range"].present? && @response_data["salary_range"].include?("$") %>
                                      <a class="text-xs text-gray-500 font-medium inline-flex px-2 py-0.5 bg-indigo-50 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out" href="#"><%= get_salary_range(@response_data["salary_range"]) %></a>
                                    <% end %>
                                    <% if @response_data["shift_type"].present? %>
                                      <a class="text-xs text-gray-500 font-medium inline-flex px-2 py-0.5 bg-gray-100 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out" href="#0"><%= @response_data["shift_type"] %></a>
                                    <% end %>
                                    <% if @response_data["speciality"].present? %>
                                      <a class="text-xs text-gray-500 font-medium inline-flex px-2 py-0.5 bg-gray-100 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out" href="#0"><%= @response_data["speciality"] %></a>
                                    <% end %>
                                    <% if @response_data["hourly_rate"].present? %>
                                      <a class="text-xs text-gray-500 font-medium inline-flex px-2 py-0.5 bg-gray-100 hover:text-gray-600 rounded-md m-1 whitespace-nowrap transition duration-150 ease-in-out" href="#0"><%= @response_data["hourly_rate"] %></a>
                                    <% end %>
                                  </div>
                                </div>
                                <div class="min-w-[120px] flex items-center lg:justify-end space-x-3 lg:space-x-0">
                                  <div class="lg:hidden group-hover:lg:block">
                                    <a class="btn-sm py-1.5 px-3 text-white bg-indigo-500 hover:bg-indigo-600 group shadow-sm" href="<%= job_path(job) %>">
                                      Apply Now
                                      <span class="tracking-normal text-indigo-200 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
                                    </a>
                                  </div>
                                  <div class="group-hover:lg:hidden text-sm italic text-gray-500"><%= formatted_time_ago(job.created_at) %></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <!-- Newletter CTA -->
                <div>
                  <div class="relative text-center px-4 py-6 group">
                    <div class="absolute inset-0 rounded-xl bg-gray-50 border border-gray-200 -rotate-1 group-hover:rotate-0 transition duration-150 ease-in-out -z-10" aria-hidden="true"></div>
                    <div class="font-nycd text-xl text-indigo-500 mb-1">Land your dream job</div>
                    <div class="text-2xl font-bold mb-5">Get a weekly email with the latest startup jobs.</div>
                    <form class="inline-flex max-w-sm">
                      <div class="flex flex-col sm:flex-row justify-center max-w-xs mx-auto sm:max-w-none">
                        <input type="email" class="form-input py-1.5 w-full mb-2 sm:mb-0 sm:mr-2" placeholder="Your email" aria-label="Your email" />
                        <button class="btn-sm text-white bg-indigo-500 hover:bg-indigo-600 shadow-sm whitespace-nowrap" type="submit">Join Newsletter</button>
                      </div>
                      <!-- Success message -->
                      <!-- <p class="font-medium text-emerald-600 text-center sm:text-left sm:absolute mt-2 opacity-75 text-sm">Thanks for subscribing!</p> -->
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Site footer -->
  </div>
  <script src="./js/vendors/alpinejs.min.js" defer></script>
  <script src="./js/main.js"></script>
</body>
<!--<div class="container mt-4 mx-auto w-11/12 md:w-9/12">
  <div class="mx-auto">
    <div id="<%= dom_id @job %>">
      <% @response_data = @job.response_data %>
      <div class=' pt-5 pb-4 px-4 flex flex-col items-start'>
        <h3 class='font-bold text-2xl mb-3'><%= @job.title %></h3>

        <span class='text-sm text-slate-500 mb-2'><%=  @response_data["location"].gsub(/location\s*:?/i, ' ') if @response_data["location"] %></span>
        <div class="text-sm">
          <% if @response_data["salary_range"].present?  && @response_data["salary_range"].include?("$")  %>
          <span><%= get_salary_range(@response_data["salary_range"]) %></span>
            <% end %>
        </div>
        <div class="mt-4">
          <a href="<%= @job.scraped_url %>" target="_blank"><button class=' bg-sky-700 rounded py-2.5 px-2.5 text-white font-semibold'>Apply Now</button></a>
        </div>
      </div>
      <div class = 'p-4'>
        <p class = 'text-lg' ><b>Job details</b></p>
        <div class = 'mt-4 mb-6'>
          <% if @response_data["salary_range"].present? && @response_data["salary_range"].include?("$") %>
            <div class='flex items-center space-x-4 '>
              <span><i class="fa fa-money text-stone-400" aria-hidden="true"></i></span>
              <span class='text-sm font-semibold ml-2 block'>Pay</span>
            </div>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'> <%= get_salary_range(@response_data["salary_range"]) %></p>
          <% end %>
          <% if @response_data["job_type"].present? %>
            <div class='flex items-center space-x-4 mt-4'>
              <span><i class="fa fa-briefcase text-stone-400" aria-hidden="true"></i></span>
              <span class='text-sm font-semibold ml-2 block'>Job Type</span>
            </div>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'><%= @response_data["job_type"] %></p>
          <% end %>

          <% if @response_data["shift_type"].present? %>
            <div class='flex items-center space-x-4 mt-4'>
              <span><i class="fa fa-briefcase text-stone-400" aria-hidden="true"></i></span>
              <span class='text-sm font-semibold ml-2 block'>Shift Type</span>
            </div>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'><%= @response_data["shift_type"] %></p>
          <% end %>

          <% if @response_data["speciality"].present? %>
            <div class='flex items-center space-x-4 mt-4'>
              <span><i class="fa fa-briefcase text-stone-400" aria-hidden="true"></i></span>
              <span class='text-sm font-semibold ml-2 block'>Speciality</span>
            </div>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'><%= @response_data["speciality"] %></p>
          <% end %>
        </div>
        <div class="border border-gray-100 h-px w-full"></div>
        <div class='overflow-hidden'>
          <div class='mt-4 mb-4'>
            <%= @response_data["description_raw_html"]&.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
