<div class="container mt-4 mx-auto w-11/12 md:w-9/12">
  <div class="mx-auto">
    <div id="<%= dom_id @job %>">
      <% @response_data = @job.response_data %>
      <div class=' pt-5 pb-4 px-4 flex flex-col items-start'>
        <h3 class='font-bold text-2xl mb-3'><%= @job.title %></h3>
<!--        <a class='decoration-blue-600 mb-3 text-blue-600 text-xs border-b border-blue-600' href="#">Voyager Global-->
<!--          Mobility</a>-->
        <span class='text-sm text-slate-500 mb-2'><%=  @response_data["location"].gsub(/location\s*:?/i, ' ') if @response_data["location"] %></span>
        <div class="text-sm">
          <% if @response_data["salary_range"].present?  && @response_data["salary_range"].include?("$")  %>
          <span><%= get_salary_range(@response_data["salary_range"]) %></span>
            <% end %>
        </div>
        <div class="mt-4">
          <a href="<%= @job.scraped_url %>" target="_blank"><button class=' bg-sky-700 rounded py-2.5 px-2.5 text-white font-semibold'>Apply Now</button></a>
<!--          <button class="bg-slate-400 py-2 px-3 rounded">-->
<!--            <i class="fa fa-bookmark-o text-white !text-lg" aria-hidden="true"></i></button>-->
        </div>
      </div>
      <div class = 'p-4'>
        <p class = 'text-lg' ><b>Job details</b></p>
        <div class = 'mt-4 mb-6'>
          <% if @response_data["salary_range"].present? && @response_data["salary_range"].include?("$") %>
            <div class='flex items-center space-x-4 '>
              <span><i class="fa fa-money text-stone-400" aria-hidden="true"></i></span>
              <span class='text-sm font-semibold ml-2 block'>Pay</span>
            </div>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'> <%= get_salary_range(@response_data["salary_range"]) %></p>
          <% end %>
          <% if @response_data["job_type"].present? %>
            <div class='flex items-center space-x-4 mt-4'>
              <span><i class="fa fa-briefcase text-stone-400" aria-hidden="true"></i></span>
              <span class='text-sm font-semibold ml-2 block'>Job Type</span>
            </div>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'><%= @response_data["job_type"] %></p>
          <% end %>

          <% if @response_data["shift_type"].present? %>
            <div class='flex items-center space-x-4 mt-4'>
              <span><i class="fa fa-briefcase text-stone-400" aria-hidden="true"></i></span>
              <span class='text-sm font-semibold ml-2 block'>Shift Type</span>
            </div>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'><%= @response_data["shift_type"] %></p>
          <% end %>

          <% if @response_data["speciality"].present? %>
            <div class='flex items-center space-x-4 mt-4'>
              <span><i class="fa fa-briefcase text-stone-400" aria-hidden="true"></i></span>
              <span class='text-sm font-semibold ml-2 block'>Speciality</span>
            </div>
            <p class='text-xs font-semibold ml-8 text-[#595959] bg-stone-100 p-1 inline px-2 border rounded-lg'><%= @response_data["speciality"] %></p>
          <% end %>
        </div>
        <div class="border border-gray-100 h-px w-full"></div>
        <div class='overflow-hidden'>
          <div class='mt-4 mb-4'>
            <%= @response_data["job_description_details"]&.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
