<div class="max-w-xl mx-auto my-auto px-4">
  <h2 class="font-bold text-4xl text-center my-5">Forgot your password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="mt-5">
      <%= f.label :email , class:"block text-sm font-medium mb-1"  %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-input w-full" %>
    </div>
    <%= f.submit "Send me reset password instructions" , class:"mb-3 text-sm font-medium text-indigo-500 hover:underline cursor-pointer flex items-center" %>
  <% end %>
  <div class ='flex md:gap-4 gap-1 md:flex-row flex-col'>
    <%= render "devise/shared/links" %>
  </div>
</div>
