<div id="<%= dom_id job_listing %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= job_listing.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Source url:</strong>
    <%= job_listing.source_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Listing selector:</strong>
    <%= job_listing.listing_selector %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Detail selector:</strong>
    <%= job_listing.detail_selector %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this job listing", admin_job_listing_path(job_listing), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this job listing', edit_admin_job_listing_path(job_listing), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Scrape', scrape_jobs_admin_job_listing_path(job_listing), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
