<tr class="bg-white border-b my-3">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900">
    <span class="block w-40 text-ellipsis">
      <%= board.title %>
    </span>
  </th>
  <td class=" px-6 py-4 break-words">
    <h5 class='w-[655px]'>
      <%= board.source_url %>
    </h5>
  </td>
  <td class="px-6 py-4 text-center">
    <div class='flex justify-center space-x-2'>
      <a href="<%= admin_board_path(board) %>" title = 'show' class='text-white w-10 h-10 bg-slate-400 hover:bg-slate-800 font-medium rounded-lg text-sm flex items-center justify-center'>
        <i class="fa fa-eye !text-black-800" aria-hidden="true"></i>
      </a>
      <a href="<%= edit_admin_board_path(board) %>" title = 'edit' class='text-white w-10 h-10 bg-slate-400 hover:bg-slate-800 font-medium rounded-lg text-sm flex items-center justify-center'>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
      <a href="<%= scrape_jobs_admin_board_path(board) %>" title = 'scrape' class = ' w-10 h-10'>
        <%= image_tag('scrape.png', class: 'w-full') %>
      </a>
    </div>
  </td>
</tr>
