<%= form_with(model: [:admin, board], class: "contents") do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>
      <ul>
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :title, class:"block text-sm font-medium mb-1" %>
    <%= form.text_field :title, class: "form-input w-full" %>
  </div>
  <div >
    <%= form.label :source_url , class:"block text-sm font-medium mb-1" %>
    <%= form.text_field :source_url, class: "form-input w-full"%>
  </div>
  <div class="mt-6">
    <%= form.submit class: "btn w-full text-white bg-indigo-500 hover:bg-indigo-600 shadow-sm group" %>
  </div>
<% end %>
