<div class='container py-20 px-5'>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="flex justify-between items-center my-3">
      <h1 class="font-bold text-4xl">Boards</h1>
      <%= link_to 'New Board', new_admin_board_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
    <!-- <div id="boards" class="min-w-full">
      <%= render @boards %>
    </div> -->
    <div class="relative overflow-x-auto">
      <table class="w-11/12 mx-auto text-sm text-left text-gray-500 dark:text-gray-400 shadow-md sm:rounded-lg">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Title
            </th>
            <th scope="col" class="px-6 py-3">
              Source Url
            </th>
            <th scope="col" class="px-6 py-3">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @boards %>
        </tbody>
      </table>
    </div>
    <div class="pagination mb-4 mt-3">
      <%= will_paginate @boards, previous_label: "Previous", next_label: "Next", class: "flex items-center justify-center space-x-2" %>
    </div>
  </div>
</div>
