<%= form_with(model: [:admin, post], class: "contents") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :board_id , class:"block text-sm font-medium mb-1" %>
    <%= form.text_field :board_id, class: "form-input w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :title ,class:"block text-sm font-medium mb-1" %>
    <%= form.text_field :title, class: "form-input w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :scraped_url ,class:"block text-sm font-medium mb-1"%>
    <%= form.text_field :scraped_url, class: "form-input w-full" %>
  </div>
  <div class="my-5 flex justify-start items-center ">
    <%= form.check_box :is_scrap, class:"form-checkbox" %>
    <%= form.label :is_scrap , class:"ml-2 block text-sm font-medium mb-1"%>
  </div>
  <div class="text-sm text-gray-800 font-semibold mb-3">Status</div>
    <label class="sr-only">Status</label>
    <%= select_tag 'location', options_for_select(Post.statuses), class: 'form-select w-full' %>
  </div>
  <div class="my-5">
    <%= form.label :response_data ,class:"block text-sm font-medium mb-1" %>
    <%= form.text_area :response_data, rows: 20, class: "form-input w-full" %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn w-full text-white bg-indigo-500 hover:bg-indigo-600 shadow-sm group"  %>
  </div>
<% end %>
