<div class='max-w-6xl mx-auto px-4'>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="flex justify-between items-center px-4">
      <h1 class="font-bold text-4xl">Posts</h1>
      <%= link_to 'New Post', new_admin_post_path, class: "btn text-white bg-indigo-500 hover:bg-indigo-600 group shadow-sm" %>
    </div>
    <div class="relative right-0">
      <ul
        class="relative mt-5 flex list-none flex-wrap rounded-full border w-full md:w-2/3 mx-auto p-2"
        data-tabs="tabs"
        role="list">
        <li class="z-30 flex-auto text-center">
          <a
            class="btn text-slate-700 z-30 mb-0 flex w-full cursor-pointer items-center justify-center rounded-full border-0 bg-inherit px-0 py-1 transition-all ease-in-out"
            data-tab-target=""
            <%= params[:status].blank? || params[:status] == "published" ? active="" : "" %>
            role="tab"
            aria-selected="<%= params[:status].blank? || params[:status] == "published" ? true : false %>"
            aria-controls="app"
          >
            <span class="ml-1">Published</span>
          </a>
        </li>
        <li class="z-30 flex-auto text-center">
          <a
            class="btn text-slate-700 z-30 mb-0 flex w-full cursor-pointer items-center justify-center rounded-lg border-0 bg-inherit px-0 py-1 transition-all ease-in-out"
            data-tab-target=""
            <%= params[:status].present? || params[:status] == "pending" ? active="" : "" %>
            role="tab"
            aria-selected="<%= params[:status].present? || params[:status] == "pending" ? active="" : "" %>"
            aria-controls="message"
          >
            <span class="ml-1">Pending</span>
          </a>
        </li>
        <li class="z-30 flex-auto text-center">
          <a
            class="btn text-slate-700 z-30 mb-0 flex w-full cursor-pointer items-center justify-center rounded-lg border-0 bg-inherit px-0 py-1 transition-all ease-in-out"
            data-tab-target=""
            <%= params[:status].present? || params[:status] == "expired" ? active="" : "" %>"
            role="tab"
            aria-selected="<%= params[:status].present? || params[:status] == "expired" ? active="" : "" %>"
            aria-controls="settings"
          >
            <span class="ml-1">Expired</span>
          </a>
        </li>
      </ul>
      <% published_posts = @posts.where(status: "publish") %>
      <% pending_posts = @posts.where(status: "pending")%>
      <% expired_posts = @posts.where(status: "expire")%>
      <div data-tab-content="" class="p-5">
        <div class="block opacity-100" id="app" role="tabpanel">
          <div class="md:w-full overflow-auto mx-auto">
            <%= render "posts", posts: published_posts, status: "published" %>
          </div>
        </div>
        <div class="hidden opacity-0" id="message" role="tabpanel">
          <div class="md:w-full overflow-auto mx-auto">
            <%= render "posts", posts: pending_posts, status: "pending"  %>
          </div>
        </div>
        <div class="hidden opacity-0" id="settings" role="tabpanel">
          <div class="md:w-full overflow-auto mx-auto">
            <%= render "posts", posts: expired_posts, status: "expired" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
