<div class='max-w-6xl mx-auto px-4'>
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="flex justify-between items-center px-4">
      <h1 class="font-bold text-4xl">Posts</h1>
      <%= link_to 'New Post', new_admin_post_path, class: "btn text-white bg-indigo-500 hover:bg-indigo-600 group shadow-sm" %>
    </div>
    <div class="relative right-0">
      <ul
        class="relative mt-5 flex list-none flex-wrap rounded-full border w-full md:w-2/3 mx-auto p-2"
        data-tabs="tabs"
        role="list">
        <li class="z-30 flex-auto text-center">
          <a
            class="btn text-slate-700 z-30 mb-0 flex w-full cursor-pointer items-center justify-center rounded-full border-0 bg-inherit px-0 py-1 transition-all ease-in-out"
            data-tab-target=""
            active=""
            role="tab"
            aria-selected="true"
            aria-controls="app"
          >
            <span class="ml-1">Published</span>
          </a>
        </li>
        <li class="z-30 flex-auto text-center">
          <a
            class="btn text-slate-700 z-30 mb-0 flex w-full cursor-pointer items-center justify-center rounded-lg border-0 bg-inherit px-0 py-1 transition-all ease-in-out"
            data-tab-target=""
            role="tab"
            aria-selected="false"
            aria-controls="message"
          >
            <span class="ml-1">Pending</span>
          </a>
        </li>
        <li class="z-30 flex-auto text-center">
          <a
            class="btn text-slate-700 z-30 mb-0 flex w-full cursor-pointer items-center justify-center rounded-lg border-0 bg-inherit px-0 py-1 transition-all ease-in-out"
            data-tab-target=""
            role="tab"
            aria-selected="false"
            aria-controls="settings"
          >
            <span class="ml-1">Expired</span>
          </a>
        </li>
      </ul>
      <div data-tab-content="" class="p-5">
        <div class="block opacity-100" id="app" role="tabpanel">
          <div class="md:w-full overflow-auto mx-auto">
            <table class="md:w-full w-[655px] text-sm text-left text-gray-500 shadow-md sm:rounded-lg">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th class="px-6 py-3 w-28">
                    Title
                  </th>
                  <th class="px-6 py-3 w-28">
                    Board
                  </th>
                  <th class="px-6 py-3 w-28 text-center">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
              <% if @posts.any? %>
                <% @posts.each do |post| %>
                  <tr class="bg-white border-b my-3">
                    <td class="px-6 py-4 font-medium text-gray-900 w-24"><%= post.title %></td>
                    <td class="px-6 py-4  font-medium text-gray-900"><%= post.board.title %></td>
                    <td class="px-6 py-4 font-medium text-gray-900">
                      <div class='flex justify-center space-x-2'>
                        <a href="<%= admin_post_path(post) %>" target="_blank" title = 'show' class='text-white w-10 h-10 bg-slate-400 hover:bg-slate-800 font-medium rounded-lg text-sm flex items-center justify-center'>
                          <i class="fa fa-eye !text-black-800" aria-hidden="true"></i>
                        </a>
                        <a href="<%= edit_admin_post_path(post) %>"  target="_blank" title = 'edit' class='text-white w-10 h-10 bg-slate-400 hover:bg-slate-800 font-medium rounded-lg text-sm flex items-center justify-center'>
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="<%= scrape_jobs_admin_post_path(post) %>"  target="_blank" title = 'scrape' class = ' w-10 h-10'>
                          <%= image_tag('scrape.png', class: 'w-full') %>
                        </a>
                      </div>
                    </td>
                  </tr>
                <% end %>
              <%else%>
                <tr class="bg-white border-b my-3">
                  <td colspan='3' class="text-center lead text-gray-400 capitalize px-6 py-4 text-xl">posts not available</td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="hidden opacity-0" id="message" role="tabpanel">
          <div class="md:w-full overflow-auto h-[550px] mx-auto">
            <table class="w-full text-sm text-left text-gray-500 shadow-md sm:rounded-lg">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th class="px-6 py-3 w-28">
                    Title
                  </th>
                  <th class="px-6 py-3 w-28">
                    Board
                  </th>
                  <th class="px-6 py-3 w-28">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-white border-b my-3">
                  <td class="px-6 py-4 font-medium text-gray-900">title section</td>
                  <td class="px-6 py-4 font-medium text-gray-900">board section</td>
                  <td class="px-6 py-4 font-medium text-gray-900">action section</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="hidden opacity-0" id="settings" role="tabpanel">
          <div class="md:w-full overflow-auto h-[550px] mx-auto">
            <table class="w-full text-sm text-left text-gray-500 shadow-md sm:rounded-lg">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th class="px-6 py-3 w-28">
                    Title
                  </th>
                  <th class="px-6 py-3 w-28">
                    Board
                  </th>
                  <th class="px-6 py-3 w-28">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-white border-b my-3">
                  <td class="px-6 py-4 font-medium text-gray-900">title section</td>
                  <td class="px-6 py-4 font-medium text-gray-900">board section</td>
                  <td class="px-6 py-4 font-medium text-gray-900">action section</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination mb-4 mt-3">
      <%= will_paginate @posts, previous_label: "<", next_label: ">", class: "flex items-center justify-center space-x-2" %>
    </div>
  </div>
</div>
